<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="openSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="1rem" class="nav-items">
      <div *ngFor="let navLink of navLinks">
        <li>
          <a [routerLink]="navLink.link">
            <span class="nav-link-text">{{ navLink.text }}</span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</mat-toolbar>
